@import 'fonts/font-awesome-4.3.0/css/font-awesome.min.css' // cargar fuente iconica FontAwesome

@import 'helpers/_main.styl'      // colors, functions, helpers, mixins, variables
@import 'base/_main.styl'         // normalize, base, typoghrapy
@import 'components/_main.styl'   // buttons, caroutes, cover, dropdown, navigation, pagination
@import 'layout/_main.styl'       // grid, header, footer, sidebar, forms

@import 'vendors/_bootstrap.styl' // grid de bootstrap
@import 'vendors/_fullcalendar.styl' // estilo de fullcalendar

body
  background grayClouds

.accordion
    margin 0
