.btn
  button-base()
  button-1-style()

  &.info
    change-style-btn(color-info, color-text-clear)
  &.primary
    change-style-btn(color-principal, color-text-clear)
  &.success
    change-style-btn(color-success, color-text-clear)
  &.alert
    change-style-btn(color-alert, color-text-clear)
  &.danger
    change-style-btn(color-danger, color-text-clear)
  &.twitter
    change-style-btn(blueTwitter, color-text-clear)
    font-size 1.5em
  &.facebook
    change-style-btn(blueFacebook, color-text-clear)
    font-size 1.5em
  &.google-plus
    change-style-btn(redGPlus, color-text-clear)
    font-size 1.5em


.btn-s
  button-base()
  button-3-style()

  &.info
    change-style-btn-solid(color-info, color-text-clear)
  &.primary
    change-style-btn-solid(color-principal, color-text-clear)
  &.success
    change-style-btn-solid(color-success, color-text-clear)
  &.alert
    change-style-btn-solid(color-alert, color-text-clear)
  &.danger
    change-style-btn-solid(color-danger, color-text-clear)


.btn-r
  button-base()
  button-3-style(grayClouds, color-text-dark, 0, 0 1.5em, 40px)

  &.info
    change-style-btn-r(color-info, color-text-clear)
  &.primary
    change-style-btn-r(color-principal, color-text-clear)
  &.success
    change-style-btn-r(color-success, color-text-clear)
  &.alert
    change-style-btn-r(color-alert, color-text-clear)
  &.danger
    change-style-btn-r(color-danger, color-text-clear)


.btn-i
.btn-i-facebook
.btn-i-twitter
.btn-i-github
.btn-i-deviantart
.btn-i-dropbox
.btn-i-flickr
.btn-i-foursquare
.btn-i-google
.btn-i-google-plus
.btn-i-html5
.btn-i-instagram
.btn-i-linkedin
.btn-i-paypal
.btn-i-skype
.btn-i-spotify
.btn-i-steam
.btn-i-tumblr
.btn-i-twitch
.btn-i-vimeo
.btn-i-vine
.btn-i-wordpress
.btn-i-yahoo
.btn-i-youtube
  button-base()
.btn-i
  button-4-style(grayClouds, color-text-dark, 0, 0 .75em, 2px)
.btn-i-facebook
  button-4-style(blueFacebook, color-text-clear, 0, 0 .75em, 2px)
.btn-i-twitter
  button-4-style(blueTwitter, color-text-clear, 0, 0 .75em, 2px)
.btn-i-github
  button-4-style(blackGithub, color-text-clear, 0, 0 .75em, 2px)
.btn-i-deviantart
  button-4-style(greenDeviantart, color-text-clear, 0, 0 .75em, 2px)
.btn-i-dropbox
  button-4-style(blueDropbox, color-text-clear, 0, 0 .75em, 2px)
.btn-i-flickr
  button-4-style(blueDropbox, color-text-clear, 0, 0 .75em, 2px)
.btn-i-foursquare
  button-4-style(pinkFoursquare, color-text-clear, 0, 0 .75em, 2px)
.btn-i-google
  button-4-style(blueGoogle, color-text-clear, 0, 0 .75em, 2px)
.btn-i-google-plus
  button-4-style(redGPlus, color-text-clear, 0, 0 .75em, 2px)
.btn-i-html5
  button-4-style(orangeHTML5, color-text-clear, 0, 0 .75em, 2px)
.btn-i-instagram
  button-4-style(blueInstagram, color-text-clear, 0, 0 .75em, 2px)
.btn-i-linkedin
  button-4-style(blueLinkedin, color-text-clear, 0, 0 .75em, 2px)
.btn-i-paypal
  button-4-style(bluePayPal, color-text-clear, 0, 0 .75em, 2px)
.btn-i-skype
  button-4-style(blueSkype, color-text-clear, 0, 0 .75em, 2px)
.btn-i-spotify
  button-4-style(greenSpotify, color-text-clear, 0, 0 .75em, 2px)
.btn-i-steam
  button-4-style(blackSteam, color-text-clear, 0, 0 .75em, 2px)
.btn-i-tumblr
  button-4-style(blueTumblr, color-text-clear, 0, 0 .75em, 2px)
.btn-i-twitch
  button-4-style(purpleTwitch, color-text-clear, 0, 0 .75em, 2px)
.btn-i-vimeo
  button-4-style(blueVimeo, color-text-clear, 0, 0 .75em, 2px)
.btn-i-vine
  button-4-style(greenVine, color-text-clear, 0, 0 .75em, 2px)
.btn-i-wordpress
  button-4-style(blueWordpress, color-text-clear, 0, 0 .75em, 2px)
.btn-i-yahoo
  button-4-style(purpleYahoo, color-text-clear, 0, 0 .75em, 2px)
.btn-i-youtube
  button-4-style(redYoutube, color-text-clear, 0, 0 .75em, 2px)


.btn-metro
  button-base()
  button-2-style()

  &.info
    change-style-btn-solid(color-info, color-text-clear)
  &.primary
    change-style-btn-solid(color-principal, color-text-clear)
  &.success
    change-style-btn-solid(color-success, color-text-clear)
  &.alert
    change-style-btn-solid(color-alert, color-text-clear)
  &.danger
    change-style-btn-solid(color-danger, color-text-clear)


.btn-block
  button-base()
  button-5-style()

  &.info
    change-style-btn-block(color-info, color-text-clear)
  &.primary
    change-style-btn-block(color-principal, color-text-clear)
  &.success
    change-style-btn-block(color-success, color-text-clear)
  &.alert
    change-style-btn-block(color-alert, color-text-clear)
  &.danger
    change-style-btn-block(color-danger, color-text-clear)


.btn
.btn-block
.btn-s
.btn-r
.btn-metro
  &.lg
    font-size font-size-min + 2;
    padding .5em 1.75em
  &.sm
    font-size font-size-min - 2;
    padding 0 .5em
  &.xs
    font-size font-size-min - 3;
    padding 0 .125em