.tag
.tag-principal
.tag-info
.tag-success
.tag-alert
.tag-danger
  border-radius 40px
  font-size 12px
  line-height 1.7
  padding 2px 6px
  text-align center
.tag
  background color-neutral
  color color-text-clear
.tag-principal
  background color-principal
  color color-text-clear
.tag-info
  background color-info
  color color-text-clear
.tag-success
  background color-success
  color color-text-clear
.tag-alert
  background color-alert
  color color-text-clear
.tag-danger
  background color-danger
  color color-text-clear

.tooltip
.tooltip-top
.tooltip-right
.tooltip-bottom
.tooltip-left
  background color-second
  border 1px solid color-second
  border-radius 2px
  box-shadow 0 0 1px 0 rgba(color-second, .6)
  color color-text-dark
  display none
  font-size font-size-min
  line-height 1
  margin arrow-size-regular auto
  max-width 260px
  opacity .9
  padding padding-min padding-regular
  position absolute
  z-index 9999

/*
  &:before
    border-style solid
    border-width arrow-size-regular
    content ''
    display block
    position absolute
    width arrow-size-regular

.tooltip-top
  &:before
    border-color color-second transparent transparent transparent
    bottom arrow-size-regular * -2
    margin-left arrow-size-regular * -1
    left 50%

.tooltip-right
  &:before
    border-color transparent color-second transparent transparent
    left arrow-size-regular * -2
    margin-top arrow-size-regular * -1
    top 50%

.tooltip-bottom
  &:before
    border-color transparent transparent color-second transparent
    margin-left arrow-size-regular * -1
    left 50%
    top arrow-size-regular * -2

.tooltip-left
  &:before
    border-color transparent transparent transparent color-second
    margin-top arrow-size-regular * -1
    right arrow-size-regular * -2
    top 50%
*/
