// ----- colores ----- //

// negros
// marcas
blackGithub = #333333
blackSteam = #171A21
// personalizados
blackEdc1 = #1A1A1A
blackEdc2 = #2B2B2B
blackEdc3 = #3C3C3C

// azules
// marcas
blueDropbox = #007ee5
blueFacebook = #3B5998
blueFlickr = #0491dc
blueGoogle = #166cec
blueInstagram = #3F729B
blueLinkedin = #0077B5
bluePayPal = #253B80
bluePython = #377AB1
blueSkype = #19B6F0
blueTumblr = #385774
blueTwitter = #00ACED
blueVimeo = #4BF
blueWordpress = #2ea2cc
// flat
blueBelizeHole = #2980B9
blueMidnight = #2C3E50
bluePeterRiver = #3498DB
blueWetAsphalt = #34495E
// personalizados
blueEdc1 = #4486F7
blueEdc2 = #013f54

// cafe
// marcas
brownInstagram = #70483E
// personalizadas
brownAda = #d17922

// grises
// flat
grayClouds = #ECF0F1
graySilver = #BDC3C7
grayConcrete = #95A5A6
grayAsbestos = #7F8C8D
// personalizados
grayEdc1 = #ECECEC
grayEdc2 = #E5E5E5

// verdes
// marcas
greenFontAwesome = #21B384
greenFirefox = #74A82A
greenDeviantart = #B3C432
greenSpotify = #81B900
greenVine = #00bf8f
// flat
greenEmerald = #2ECC71
greenNephritis = #27AE60
greenSea = #16A085
greenTurquoise = #1ABC9C
// personalizado
greenEdc1 = #53A93F

// anaranjados
orangeFirefox = #D55511
orangeHTML5 = #E44D26
// flat
orange = #F39C12
orangeCarrot = #E67E22
orangePumpkin = #D35400

// rosa
// marcas
pinkFlickr = #bf2f79
pinkFoursquare = #fc4575

// morados
//marcas
purpleTwitch = #6441A5
purpleYahoo = #500095
// flat
purpleAmethyst = #9B59B6
purpleWisteria = #8E44AD

// rojos
// marcas
redGPlus = #D23F2A
redYoutube = #CC181E
// flat
redAlizarin = #E74C3C
redPomegranate = #C0392B
// personalizados
redEdc1 = #DA0F0B

// blancos
// personalizados
whiteEdc1 = #FEFEFE
whiteEdc2 = #FCFCFC
whiteEdc3 = #FAFAFA
whiteEdc4 = #F7F7F7

// amarillos
//marcas
yellowPython = #FFD94A
yellowGoogle = #F6A615
// flat
yellowSunFlower = #F1C40F