/* ------------------------------ *\
    Class & placeholders helpers
\* ------------------------------ */

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

.abs-top-left
  display block
  position absolute
  top 0
  right 0

.bg-primary
  background color-principal
  color color-text-clear
.bg-info
  background color-info
  color color-text-clear
.bg-success
  background color-success
  color color-text-clear
.bg-alert
  background color-alert
  color color-text-clear
.bg-danger
  background color-danger
  color color-text-clear

.clr-dark
  color color-text-dark
.clr-clear
  color color-text-clear
.clr-primary
  color color-principal
.clr-info
  color color-info
.clr-success
  color color-success
.clr-alert
  color color-alert
.clr-danger
  color

.hide
  display none

.row
  display block
  margin-bottom margin-regular
  width 100%

.w_margin
  margin margin-min

.w_padding
  padding padding-min

.img-responsive
  display block
  max-width 100%
  height auto
.img-rounded
  border-radius 6px
.img-thumbnail
  padding 4px
  line-height 1.42857143
  background-color whitewhiteEdc1
  border 1px solid graySilver
  border-radius 4px
  -webkit-transition all 0.2s ease-in-out
  -o-transition all 0.2s ease-in-out
  transition all 0.2s ease-in-out
  display inline-block
  max-width 100%
  height auto
.img-circle
  border-radius 50%
.img-left
  float left
  margin-right margin-regular
.img-right
  float right
  margin-left margin-regular