// Fuentes
font-principal    = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size-regular = 14px
font-size-min     = 12px

// Arrow: triangulo en elementos globo
arrow-size-regular = 6px;

// paleta de colores
color-principal = blueEdc1
color-second    = #97CDD5;

// colores de fondo
color-clear   = whiteEdc1
color-neutral = graySilver
color-dark    = blackEdc1

color-info    = bluePython
color-success = greenEdc1
color-alert   = yellowSunFlower
color-danger  = redEdc1

// colores de bordes
color-line       = grayAsbestos
color-line-clear = graySilver

// colores de texto
color-text-dark    = blackEdc1
color-text-neutral = grayAsbestos
color-text-clear   = whiteEdc1

// paddings
padding-max     = 28px
padding-big     = 21px
padding-regular = 14px
padding-min     = 7px
padding-tiny    = 4px

// margenes
margin-big     = 21px
margin-regular = 14px
margin-min     = 7px
margin-tiny    = 4px

// radios
radius-big     = 9px
radius-regular = 6px
radius-min     = 3px