.cont1366
.cont1280
.cont1024
.cont980
.cont800
.cont768
.cont360
.cont320
  margin     0 auto
  //padding    padding-min
  width      100%

.cont1366
  max-width  1366px
.cont1280
  max-width  1280px
.cont1024
  max-width  1024px
.cont980
  max-width  980px
.cont800
  max-width  800px
.cont768
  max-width  768px
.cont360
  max-width  360px
.cont320
  max-width  320px


.fx-start
  align-items flex-start
.fx-end
  align-items flex-end
.fx-stretch
  align-items stretch
.fx-center
  align-items center
.fx-baseline
  align-items baseline


.cont-flex
.cf-brk-2560
.cf-brk-1600
.cf-brk-1280
.cf-brk-1024
.cf-brk-800
.cf-brk-768
.cf-brk-600
.cf-brk-568
.cf-brk-480
.cf-brk-320
.cf-brk-240
  display flex
  flex-flow row nowrap

  .left
    padding-right (padding-regular/2)
  .center
    padding 0 (padding-regular/2)
  .right
    padding-left (padding-regular/2)

  .col-1
    flex 1
  .col-2
    flex 2
  .col-3
    flex 3
  .col-4
    flex 4
  .col-5
    flex 5
  .col-6
    flex 6
  .col-7
    flex 7
  .col-8
    flex 8

  .o-8
    order 8
  .o-7
    order 7
  .o-6
    order 6
  .o-5
    order 5
  .o-4
    order 4
  .o-3
    order 3
  .o-2
    order 2
  .o-1
    order 1
  .o-0
    order 0

.cf-brk-2560
  @media all and (max-width: 2560px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-1600
  @media all and (max-width: 1600px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-1280
  @media all and (max-width: 1280px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-1024
  @media all and (max-width: 1024px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-800
  @media all and (max-width: 800px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-768
  @media all and (max-width: 768px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-600
  @media all and (max-width: 600px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-568
  @media all and (max-width: 568px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-480
  @media all and (max-width: 480px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-320
  @media all and (max-width: 320px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0

.cf-brk-240
  @media all and (max-width: 240px)
    flex-flow column wrap

    .left
    .center
    .right
      padding 0